{% extends 'base.html' %}
{% block title %} Add post {% endblock %}
{% block content %}

{% if user.is_authenticated%}
    <main class="container bg-light my-3">
        <h3 class="text-center">Add Post</h3>
        <section class="">
            <form class="form-group" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </section>
    </main>
    <script>
        let userId = "{{ user.id }}"
        let username = "{{user.username}}"
        document.getElementById("authorField").value = userId
    </script>
{% else %}
    <h1 class="text-danger">You are not authorized to access this page.</h1>
{% endif %}
{% endblock %}