{% extends 'base.html' %}
{% block title %}Category{% endblock %}
{% block content %}

{% if user.is_authenticated%}
    <main class="container bg-light my-3">
        <h3 class="text-center">Category : {{category}} </h3>
        <section>
            {% if category_posts %}
                {% for obj in category_posts %}
                <div class="container my-1 border border-dark bg-light">
                    <a href="{% url 'article_view'  %}" class ="text-decoration-none">{{obj}}</a>
            </div>
                {% endfor %}   
            {% else %}
                <p class="text-center fw-bold text-dark">No posts under this category yet.</p>
            {% endif %} 
        </section>
    </main>
{% else %}
    <h3 class="text-danger">You are not authorized to access this page.</h3>
{% endif %}
{% endblock %}