{% extends 'base.html' %}
{% block title %} Edit post {% endblock %}
{% block content %}

{% if user.is_authenticated and user.id == post.author.id %}
    <main class="container bg-light my-3">
        <h3 class="text-center">Edit Post</h3>
        <section class="">
            <form class="form-group" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Update</button>
            </form>
        </section>
    </main>
{% else %}
<h1 class="text-danger">You are not authorized to access this page.</h1>
{% endif %}
{% endblock %}